* {
    color: white;
    text-shadow: black 0 0 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Body */
body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, white, #11ccee 10%);
    background-size: cover;
}
header {
    text-align: center;
}
header input {
    color: black;
    text-shadow: none;
}
#cityInput {
    width: 30%;
}
#stateInput{
    width: 10%;
}
#countryInput{
    width: 10%;
}
main {
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* Footer */
footer{
    margin-top: 5%;
    text-align: center;
}
footer *{
    padding: 5px;
}
/* Copyright */
h4 {
    margin: auto;
}
h4 a:hover {
    text-shadow: white 0 0 2px;
}
h5 {
    margin: auto;
}